@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Button styles */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gradient-border::after,
.gradient-border::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  border-radius: inherit;
  z-index: -1;
  animation: spin-border 3s linear infinite;
}

.gradient-border::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin-border {
  from { --angle: 0deg; }
  to { --angle: 360deg; }
}

@keyframes fade-in {
  0% { opacity: 0; transform: 'translateY(-10px)' };
  100% { opacity: 1; transform: 'translateY(0)' };
}

.reveal-text {
  animation: fade-in 0.8s ease-out;
}

/* Color scheme mode styles */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #eceef3;
  }
  .gradient-border::before {
    filter: blur(2rem);
    opacity: 1;
  }
  .gradient-border {
    background-color: #2b2f3a;
  }
  .reveal-text {
    color: #213547;
  }
}
